<%= stylesheet_link_tag 'summary_page', media: 'all', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <%= link_to '<', proof_of_taxres_path, class: 'button', id: 'backButton' %>

        <h1>Summary Page</h1>

        <%= form_with model: @user, url: summary_update_db_path, method: :post, local: true do |f| %>
            <div class="form-group">
                <%= f.hidden_field :id, value: session[:user_id] %>

                <!-- Personal Information -->
                <div class="input-group">
                    <label for="full_name">Full Name</label>
                    <%= f.text_field :full_name, placeholder: "Full Name", required: true, value: @user.full_name %>
                </div>

                <div class="input-group">
                    <label for="display_name">User ID</label>
                    <%= f.text_field :display_name, placeholder: "User ID", required: true, value: @user.display_name %>
                </div>

                <div class="input-group">
                    <label for="dob">Date of Birth</label>
                    <%= f.date_field :dob, required: true, value: @user.dob %>
                </div>

                <div class="input-group">
                    <label for="gender">Gender</label>
                    <%= f.text_field :gender, placeholder: "Gender", required: true, value: @user.gender %>
                </div>

                <div class="input-group">
                    <label for="nationality">Nationality</label>
                    <%= f.text_field :nationality, placeholder: "Nationality", required: true, value: @user.nationality %>
                </div>

                <div class="input-group">
                    <label for="email">Email</label>
                    <%= f.email_field :email, placeholder: "Email", required: true, value: @user.email %>
                </div>

                <div class="input-group">
                    <label for="phone_number">Phone Number</label>
                    <%= f.telephone_field :phone_number, placeholder: "Phone Number", required: true, value: @user.phone_number %>
                </div>

                <!-- Identification -->
                <div class="input-group">
                    <label for="passport_number">Passport Number</label>
                    <%= f.text_field :passport_number, placeholder: "Passport Number", required: true, value: @user.passport_number %>
                </div>

                <%# <div class="input-group">
                    <label for="nric_number">NRIC Number</label>
                    <%= f.text_field :nric_number, placeholder: "NRIC Number", required: true, value: @user.nric_number
                </div> %>

                <div class="input-group">
                    <label for="fin">FIN</label>
                    <%= f.text_field :fin, placeholder: "FIN", required: true, value: @user.fin %>
                </div>

                <div class="input-group">
                    <label for="passport_expiry_date">Passport Expiry Date</label>
                    <%= f.date_field :passport_expiry_date, required: true, value: @user.passport_expiry_date %>
                </div>

                <!-- Address -->
                <div class="input-group">
                    <label for="country_of_residence">Country of Residence</label>
                    <%= f.text_field :country_of_residence, placeholder: "Country of Residence", required: true, value: @user.country_of_residence %>
                </div>

                <div class="input-group">
                    <label for="block">Block</label>
                    <%= f.text_field :block, placeholder: "Block", value: @user.block %>
                </div>

                <div class="input-group">
                    <label for="floor">Floor</label>
                    <%= f.text_field :floor, placeholder: "Floor", value: @user.floor %>
                </div>

                <div class="input-group">
                    <label for="unit">Unit</label>
                    <%= f.text_field :unit, placeholder: "Unit", required: true, value: @user.unit %>
                </div>

                <div class="input-group">
                    <label for="address_line_1">Address Line 1</label>
                    <%= f.text_field :address_line_1, placeholder: "Address Line 1", required: true, value: @user.address_line_1 %>
                </div>

                <div class="input-group">
                    <label for="address_line_2">Address Line 2</label>
                    <%= f.text_field :address_line_2, placeholder: "Address Line 2", value: @user.address_line_2 %>
                </div>

                <div class="input-group">
                    <label for="postal_code">Postal Code</label>
                    <%= f.text_field :postal_code, placeholder: "Postal Code", required: true, value: @user.postal_code %>
                </div>

                <!-- Employment -->
                <div class="input-group">
                    <label for="work">Work</label>
                    <%= f.text_field :work, placeholder: "Work", required: true, value: @user.work %>
                </div>

                <div class="input-group">
                    <label for="industry">Industry</label>
                    <%= f.text_field :industry, placeholder: "Industry", required: true, value: @user.industry %>
                </div>

                <!-- Tax Information -->
                <div class="input-group">
                    <label for="tax_resident_country">Tax Resident Country</label>
                    <%= f.text_field :tax_resident_country, placeholder: "Tax Resident Country", required: true, value: @user.tax_resident_country %>
                </div>

                <div class="input-group">
                    <label for="tin">TIN</label>
                    <%= f.text_field :tin, placeholder: "TIN", value: @user.tin %>
                </div>
            </div>

            <%= f.submit 'Submit', class: 'btn', id: 'submitButton' %>
        <% end %>
    </div>
</body>