<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Document</title>
    <%= stylesheet_link_tag 'upload', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/upload_option', crossorigin: 'anonymous' %>
</head>
<body>
    <div class="container">
        <progress id="file" value="86" max="100"> 32% </progress><br><br>
        <%= link_to '<', taxres_path, class: 'button', id: 'backButton' %><br>
        <p  id='documentname'>Passport</p>
        <p> From Camera</p>
        <%= button_tag image_tag('camera.png'), class: 'button center-align', id: 'toCameraUpload' %>

        <p>From Files</p>
        <%= button_tag image_tag('folder.png'), class: 'button center-align', id: 'toFileUpload' %>
    </div>
</body>
</html>