<h1>User Details</h1>

<p>
  <strong>Full Name:</strong>
  <%= @user.full_name %>
</p>
<p>
  <strong>Display Name:</strong>
  <%= @user.display_name %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @user.phone_number %>
</p>
<p>
  <strong>DOB:</strong>
  <%= @user.dob %>
</p>
<p>
  <strong>FIN:</strong>
  <%= @user.fin %>
</p>
<p>
  <strong>Country of Residence:</strong>
  <%= @user.country_of_residence %>
</p>
<p>
  <strong>Postal Code:</strong>
  <%= @user.postal_code %>
</p>
<p>
  <strong>Block:</strong>
  <%= @user.block %>
</p>
<p>
  <strong>Floor:</strong>
  <%= @user.floor %>
</p>
<p>
  <strong>Unit:</strong>
  <%= @user.unit %>
</p>
<p>
  <strong>Address Line 1:</strong>
  <%= @user.address_line_1 %>
</p>
<p>
  <strong>Address Line 2:</strong>
  <%= @user.address_line_2 %>
</p>
<p>
  <strong>Work:</strong>
  <%= @user.work %>
</p>
<p>
  <strong>Industry:</strong>
  <%= @user.industry %>
</p>
<p>
  <strong>Tax Resident Country:</strong>
  <%= @user.tax_resident_country %>
</p>
<p>
  <strong>Tin:</strong>
  <%= @user.tin %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Application Status:</strong>
  <%= @user.application_status %>
</p>
<p>
  <strong>Identity Type:</strong>
  <%= @user.identity_type %>
</p>
<p>
  <strong>Passport Number:</strong>
  <%= @user.passport_number %>
</p>
<p>
  <strong>NRIC Number:</strong>
  <%= @user.nric_number %>
</p>
<p>
  <strong>Nationality:</strong>
  <%= @user.nationality %>
</p>
<p>
  <strong>Passport Expiry Date:</strong>
  <%= @user.passport_expiry_date %>
</p>
<p>
  <strong>Application Date:</strong>
  <%= @user.application_date %>
</p>
<p>
  <strong>Proof of Identity:</strong>
  <%= @user.proof_of_identity %>
</p>
<p>
  <strong>Proof of Residential Address:</strong>
  <%= @user.proof_of_residential_address %>
</p>
<p>
  <strong>Employment Pass:</strong>
  <%= @user.employment_pass %>
</p>
<p>
  <strong>Proof of Mobile Phone Ownership:</strong>
  <%= @user.proof_of_mobile_phone_ownership %>
</p>
<p>
  <strong>Proof of Tax Residency:</strong>
  <%= @user.proof_of_tax_residency %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
