<%= stylesheet_link_tag 'mobileno', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <div class="header">
            <%= image_tag 'DBS-Bank-logo.png', alt: 'DBS', class: 'resized-image'%>
        </div>
        <div class="form-container">
            <h1>Would you like to start a new application or continue the previous one?</h1>
            <%= link_to 'Start New Application', new_path, class: 'button', id: 'NewApplicationButton' %>
            <%= form_with url: reload_application_draft_path, method: :post, local: true do %>
                <%= submit_tag 'Reload Previous Application Draft', class: 'button', id: 'ContinueApplicationButton' %>
            <% end %>
        </div>
    </div>
</body>
</html>
