<%= stylesheet_link_tag 'new', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>


<body>
    <div class="container">
        <%= link_to 'Continue without Singpass >', checklist_path, class: 'button', id: 'toChecklistButtonNoSingpass' %>
        <br><br>
        <hr class="horizontal-red-line">
        <%= image_tag 'DBS.png', alt: 'DBS+Singpass', class: 'resized-image'%>
        <h3>Lets Make This Fast</h3>
        <p>Login to your Singpass account so we can identify you instantly via MyInfo</p>
        <%= image_tag 'DBS_1.png', alt: 'DBS+Singpass' %>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <%= link_to 'Sign Up with Singpass', checklist_path, class: 'button', id: 'toChecklistButtonSingpass' %>
    </div>
</body>
