<%= stylesheet_link_tag 'new', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>


<body>
    <div class="container">
        <%= link_to '<', signup_path, class: 'button', id: 'backButton' %>
        <%= link_to 'Singpass இல்லாமல்',>', checklist_path, class: 'button', id: 'toChecklistButtonNoSingpass' %>
        <br><br>
        <hr class="horizontal-red-line">
        <%= image_tag 'DBS.png', alt: 'DBS+Singpass', class: 'resized-image'%>
        <h3>இதில் வேகம் காட்டுவோம்</h3>
        <p>நாங்கள் MyInfo மூலமாக உடனடியாக உங்களை அடையாளம் காண உங்கள் Singpass கணக்கில் உள்நுழைக<</p>
        <%= image_tag 'DBS_1.png', alt: 'DBS+Singpass' %>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <%= link_to 'Singpass உடன்', checklist_ta_path, class: 'button', id: 'toChecklistButtonSingpass' %>
    </div>
</body>
