<%= stylesheet_link_tag 'new', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>


<body>
    <div class="container">
        <%= link_to '<', signup_path, class: 'button', id: 'backButton' %>
        <%= link_to '不使用Singpass注册 >', checklist_chi_path, class: 'button', id: 'toChecklistButtonNoSingpass' %>
        <br><br>
        <hr class="horizontal-red-line">
        <%= image_tag 'DBS.png', alt: 'DBS+Singpass', class: 'resized-image'%>
        <h3>快速登入</h3>
        <p>登入您的Singpass账户，以便我们可以通过MyInfo立即识别您</p>
        <%= image_tag 'DBS_1.png', alt: 'DBS+Singpass' %>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <%= link_to '使用Singpass注册', checklist_chi_path, class: 'button', id: 'toChecklistButtonSingpass' %>
    </div>
</body>
