<p style="color: green"><%= notice %></p>

<%= render @customer_record %>

<div>
  <%= link_to "Edit this customer record", edit_customer_record_path(@customer_record) %> |
  <%= link_to "Back to customer records", customer_records_path %>

  <%= button_to "Destroy this customer record", @customer_record, method: :delete %>
</div>
