<%= stylesheet_link_tag 'mobileno', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <div class="header">
            <%= image_tag 'DBS-Bank-logo.png', alt: 'DBS', class: 'resized-image'%>
        </div>
        <div class="form-container">
            <h1>One Time Password</h1>
            <p>The OTP has been sent to your mobile number. </p>
            <p>Please enter it below for verification.</p>
            <%= form_with url: verify_otp_path, method: :post, local: true do |f| %>
                <div class="input-group">
                    <%= f.text_field :otp, placeholder: "Enter OTP", required: true %>
                </div>
                <%= f.submit 'Authenticate', class: 'button', id: 'GetOTPButton' %>
            <% end %>
        </div>
    </div>
</body>
</html>
