<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <div class="header">
            <%= image_tag 'DBS-Bank-logo.png', alt: 'DBS', class: 'resized-image' %>
        </div>
        <div class="form-container">
            <h1><%= t('otp.title') %></h1>
            <p><%= t('otp.message') %></p>
            <p><%= t('otp.instruction') %></p>
            <%= form_with url: verify_otp_path, method: :post, local: true do |f| %>
                <div class="input-group">
                    <%= f.text_field :otp, placeholder: t('otp.placeholder'), required: true %>
                </div>
                <%= f.submit t('otp.authenticate_button'), class: 'button', id: 'GetOTPButton' %>
            <% end %>
        </div>
    </div>
</body>
</html>
