<!DOCTYPE html>
<html>
<head>
    <title>Feature1</title>
    <%= stylesheet_link_tag 'checklist', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/checklist', crossorigin: 'anonymous' %>
</head>
<body>
    <div class="container">
        <%= link_to '<', root_path, class: 'button', id: 'backButton' %>
        <h1>Document Checklist</h1>
        <p>Tick when you prepared the doc</p>
        <%= form_with url: submit_checklist_path, method: :post, id: 'checklistForm' do %>
            <div class="item">
                <div class="tooltip">
                    <%= link_to image_tag('passport.jpg', alt: 'Passport', class: 'sample-image'), checklist_item_path('passport') %>
                    <span class="tooltiptext">Click to See Sample</span>
                </div>
                Passport
                <%= check_box_tag 'checklist[passport]', '1', false, id: 'passport', autocomplete: 'off' %>
                <label for="passport"></label>
            </div>
            <div class="item">
                <div class="tooltip">
                    <%= link_to image_tag('employment.jpg', alt: 'Employment', class: 'sample-image'), checklist_item_path('employment') %>
                    <span class="tooltiptext">Click to See Sample</span>
                </div>
                Proof of Employment
                <%= check_box_tag 'checklist[employment]', '1', false, id: 'employment', autocomplete: 'off' %>
                <label for="employment"></label>
            </div>
            <div class="item">
                <div class="tooltip">
                    <%= link_to image_tag('address.jpg', alt: 'Address', class: 'sample-image'), checklist_item_path('address') %>
                    <span class="tooltiptext">Click to See Sample</span>
                </div>
                Proof of Residential Address
                <%= check_box_tag 'checklist[address]', '1', false, id: 'address', autocomplete: 'off' %>
                <label for="address"></label>
            </div>
            <div class="item">
                <div class="tooltip">
                    <%= link_to image_tag('tax.jpg', alt: 'Tax', class: 'sample-image'), checklist_item_path('tax') %>
                    <span class="tooltiptext">Click to See Sample</span>
                </div>
                Proof of Tax Residency
                <%= check_box_tag 'checklist[tax]', '1', false, id: 'tax', autocomplete: 'off' %>
                <label for="tax"></label>
            </div>
            <div class="item">
                <div class="tooltip">
                    <%= link_to image_tag('mobile.jpg', alt: 'Mobile', class: 'sample-image'), checklist_item_path('mobile') %>
                    <span class="tooltiptext">Click to See Sample</span>
                </div>
                Proof of Mobile Ownership
                <%= check_box_tag 'checklist[mobile]', '1', false, id: 'mobile', autocomplete: 'off' %>
                <label for="mobile"></label>
            </div>

            <%= submit_tag 'Next', class: 'button', id: 'nextButton' %>
        <% end %>
    </div>

</body>
</html>
