<%= stylesheet_link_tag 'document', media: 'all' %>
<%= javascript_include_tag 'controllers/identity', crossorigin: 'anonymous' %>
<body>
    <div class="container">
        <progress id="file" value="35.7" max="100"></progress>
        <div class="info">
            <h4>Uploaded Document</h4>
        </div>
        <canvas id="canvas"></canvas>
        <div class="image-container">
        <img id="photo" alt="The screen capture will appear in this box.">
        </div>
        <button id="RetakeButton" class="button">Retake Picture</button>
        <label for="result" id="text" style="color: red;"></label><br>
        <h3>Extracted Info</h3>
        <%= form_with url: identity_update_db_path, method: :post do |f| %>
            <%= f.hidden_field :id, value: session[:user_id] %>
            <div class="form-row">
                <div class="form-group">
                    <label for="docutype">Document Type</label>
                    <%= f.select :document_type, options_for_select(['Passport', 'Singapore NRIC', 'Malaysia NRIC']), { include_blank: 'Select Document Type' }, id: 'docutype' %>
                </div>
                <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <%= f.text_field :nationality, id: 'nationality', placeholder: 'Enter text here' %>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="passport_expiry_date">Passport Expiry Date</label>
                    <%= f.text_field :passport_expiry_date, id: 'passport_expiry_date', placeholder: 'Enter text here' %>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <%= f.text_field :name, id: 'name', placeholder: 'Enter text here' %>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <%= f.text_field :gender, id: 'gender', placeholder: 'Enter text here' %>
                </div>
                <div class="form-group">
                    <label for="date_of_birth">Date Of Birth</label>
                    <%= f.text_field :date_of_birth, id: 'date_of_birth', placeholder: 'Enter text here' %>
                </div>
            </div>
            <button id="nextButton" class="button">Next</button>
        <% end %>
    </div>
</body>