<!doctype html>

<head>
    <title><%= t('upload.camera_title') %></title>
    <%= stylesheet_link_tag 'camera', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/webcam_employment', crossorigin: 'anonymous' %>
</head>

<body>
    <div class="container">
        <div class="camera">
            <video id="video"><%= t('upload.video_stream_not_available') %></video>
            <button id="startbutton"><%= t('upload.take_photo') %></button>
            <canvas id="canvas"></canvas>
            <img id="photo" alt="<%= t('upload.screen_capture_alt') %>">
            <div class="boxed">
                <p id="result">
                    <%= t('upload.result_instructions') %>
                </p>
            </div>
            <%= form_with url: proof_of_residential_path, method: :get, id: 'checklistForm' do %>
                <%= submit_tag t('upload.next'), class: 'button', id: 'nextButton' %>
            <% end %>
        </div>
    </div>
</body>

</html>
