<%= stylesheet_link_tag 'signup', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
  <div class="container">
    <div class="language-selector">
      <%= link_to "English", change_locale_path(:en), class: "btn btn-primary" %>
      <%= link_to "தமிழ்", change_locale_path(:ta), class: "btn btn-primary" %>
      <%= link_to "简体中文", change_locale_path(:'zh-CN'), class: "btn btn-primary" %>
      <%= link_to "Fillipino", change_locale_path(:'fil-PH'), class: "btn btn-primary" %>
      <%= link_to "Burmese", change_locale_path(:my), class: "btn btn-primary" %>
      <%= link_to "Malay", change_locale_path(:ms), class: "btn btn-primary" %>
    </div>
    
    <br>
    <%= link_to t('buttons.signup_digibank'), signup_path, class: 'button', id: 'SignUpforDigibankButton' %>
    <br>
    <%= link_to t('buttons.login'), login_path, class: 'button', id: 'LogInButton' %>
  </div>
</body>
