<%= stylesheet_link_tag 'signup', media: 'all', crossorigin: 'anonymous' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
   <div class="container">
        <%# <div class="language-dropdown" style="position: absolute; top: 10px; right: 10px;">
            <%= form_with url: change_locale_path, method: :post, data: { turbolinks: false } do 
                <select name="language" onchange="this.form.submit()">
                    <option value="en">English</option>
                    <option value="zh">中文</option>
                    <option value="ta">தமிழ்</option>
                </select>
            <% end 
        </div>%>

        <br>
        <%= link_to 'Sign Up for Digibank', signup_path, class: 'button', id: 'SignUpforDigibankButton' %>
        <br>
        <%= link_to 'Log In', login_path, class: 'button', id: 'LogInButton' %>
    </div>
</body>
