<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <div class="header">
            <%= image_tag 'DBS-Bank-logo.png', alt: 'DBS', class: 'resized-image' %>
        </div>
        <div class="form-container">
            <h1>Log In</h1>
            <% if flash[:alert] %>
                <div class="alert alert-danger">
                    <%= flash[:alert] %>
                </div>
            <% end %>
            <%= form_with url: login_authentication_path, method: :post, local: true do |f| %>
                <div class="input-group">
                    <%= f.text_field :display_name, placeholder: "User ID", required: true %>
                </div>
                <div class="input-group">
                    <%= f.password_field :password, placeholder: "Enter PIN", required: true %>
                </div>
                <div class="checkbox-group">
                    <%= f.check_box :remember %>
                    <label for="remember">Remember Me</label>
                </div>
                <%= f.submit 'Use Biometrics', class: 'button', id: 'Biometrics' %>
                <%= f.submit 'Get OTP', class: 'button', id: 'GetOTPButton' %>

                <p class="login">Don't have an account?<br><%= link_to 'Sign Up Now', signup_path, class: 'btn', id: 'SignUpforDigibankButton' %></p>
            <% end %>
        </div>
    </div>
</body>
</html>
