<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <div class="header">
            <%= image_tag 'DBS-Bank-logo.png', alt: 'DBS', class: 'resized-image' %>
        </div>
        <div class="form-container">
            <h1><%= t('login.title') %></h1>
            <% if flash[:alert] %>
                <div class="alert alert-danger">
                    <%= flash[:alert] %>
                </div>
            <% end %>
            <%= form_with url: login_authentication_path, method: :post, local: true do |f| %>
                <div class="input-group">
                    <%= f.text_field :display_name, placeholder: t('login.user_id'), required: true %>
                </div>
                <div class="input-group">
                    <%= f.password_field :password, placeholder: t('login.enter_pin'), required: true %>
                </div>
                <div class="checkbox-group">
                    <%= f.check_box :remember %>
                    <label for="remember"><%= t('login.remember_me') %></label>
                </div>
                <%= f.submit t('login.use_biometrics'), class: 'button', id: 'Biometrics' %>
                <%= f.submit t('login.get_otp'), class: 'button', id: 'GetOTPButton' %>

                <p class="login"><%= t('login.no_account') %><br><%= link_to t('login.signup_now'), signup_path, class: 'btn', id: 'SignUpforDigibankButton' %></p>
            <% end %>
        </div>
    </div>
</body>
</html>
