<%= stylesheet_link_tag 'singpass', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <%= link_to '<', login_path, class: 'button', id: 'backButton' %>
        <%= link_to t('singpass.continue_without_singpass'), checklist_path, class: 'button', id: 'toChecklistButtonNoSingpass' %>
        <br><br>
        <hr class="horizontal-red-line">
        <%= image_tag 'DBSSingpass.png', alt: 'DBS+Singpass', class: 'resized-image'%>
        <h3><%= t('singpass.header')%></h3>
        <p><%= t('singpass.signup_with_singpass')%> <b><%= t('singpass.signup_with_singpass2')%></b> <br><a target=“_blank” href="https://www.singpass.gov.sg/main/security/"><%= t('singpass.learn_more')%></a></p>
        <br>
        <p><%= t('singpass.with_myinfo1')%><b><%= t('singpass.with_myinfo2')%></b><%= t('singpass.with_myinfo3')%></p>
        <div class="benefits-list">
            <div class="benefit-item">
                <div class="checkmark">✓</div>
                <p><%= t('singpass.verify_identity')%></p>
            </div>
            <div class="benefit-item">
                <div class="checkmark">✓</div>
                <p><%= t('singpass.retrieve_particulars')%></p>
            </div>
            <div class="benefit-item">
                <div class="checkmark">✓</div>
                <p><%= t('singpass.sign_up_faster')%></p>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
        <%= link_to  t('singpass.sign_up_with_singpass'), checklist_path, class: 'button', id: 'toChecklistButtonSingpass' %>
    </div>
</body>