<%= stylesheet_link_tag 'custinfo', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <progress id="file" value="43" max="100"></progress>
        <%= link_to '<', checklist_path, class: 'button', id: 'backButton' %>
        <h2><%= t('general_info.title') %></h2>

        <%= form_with model: @user, url: update_db_path, method: :post, local: true do |f| %>
            <div class="form-group">
                <%= f.hidden_field :id, value: session[:user_id] %>
                <div class="input-group">
                    <label for="display_name">t('general_info.set_user_id')</label>
                    <%= f.text_field :display_name, placeholder: t('general_info.user_id_placeholder'), required: true, value: @user.display_name %>
                </div>
                <div class="input-group">
                    <label for="password"><%= t('general_info.set_pin') %></label>
                    <%= f.text_field :password, placeholder: t('general_info.pin_placeholder'), required: true, value: @user.password %>
                </div>
                <div class="input-group">
                    <label for="email"><%= t('general_info.enter_email') %></label>
                    <%= f.text_field :email, placeholder: t('general_info.email_placeholder'), required: true, value: @user.email %>
                </div>
            </div>
        
            
            <h2><%= t('general_info.work_title') %></h2>
            <div class="form-group">
                <label for="work"><%= t('general_info.work_label') %></label>
                <%= f.select :work, t('general_info.work_options'), { include_blank: t('general_info.select_work') }, { required: true, selected: @user.work } %>
            </div>
            <div class="form-group">
                <label for="industry"><%= t('general_info.industry_label') %></label>
                <%= f.select :industry, t('general_info.industry_options'), { include_blank: t('general_info.select_industry') }, { required: true, selected: @user.industry } %>
            </div>
            
            <%= f.submit t('general_info.next_button'), class: 'btn', id: 'nextButton' %>
        <% end %>
    </div>
</body>
