<%= stylesheet_link_tag 'work', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <progress id="file" value="43" max="100"></progress>
        <%= link_to '<', checklist_path, class: 'button', id: 'backButton' %>
        <h2>Tell More About Yourself</h2>

        <%= form_with model: @user, url: update_db_path, method: :post, local: true do |f| %>
            <div class="input-group">
                <%= f.hidden_field :id, value: session[:user_id] %>
                <%= f.text_field :display_name, placeholder: "Display Name", required: true, value: @user.display_name %>
                <%= f.text_field :email, placeholder: "Email", required: true, value: @user.email %>
            </div>
            
            <div class="form-group">
                <label for="work">What do you work as?</label>
                <%= f.select :work, [
                    'Customer Service', 'Professional Service', 'IT Professional', 'Management', 'Student', 
                    'Engineer', 'Healthcare Professional', 'Teacher', 'Sales', 'Marketing', 'Human Resources', 
                    'Researcher', 'Designer', 'Entrepreneur', 'Freelancer', 'Consultant', 'Administrative', 
                    'Finance', 'Legal', 'Others'
                ], { include_blank: 'Select your work' }, { required: true, selected: @user.work } %>
            </div>
            <div class="form-group">
                <label for="industry">And which of these industries do you work in?</label>
                <%= f.select :industry, [
                    'Banking & Finance', 'Food and Beverage', 'Supply and Energy', 'Retail and Consumer Goods', 
                    'Healthcare', 'Technology', 'Education', 'Manufacturing', 'Transportation and Logistics', 
                    'Construction', 'Telecommunications', 'Real Estate', 'Entertainment', 'Media and Advertising', 
                    'Government', 'Non-Profit', 'Automotive', 'Agriculture', 'Hospitality and Tourism', 
                    'Fashion', 'Others'
                ], { include_blank: 'Select your industry' }, { required: true, selected: @user.industry } %>
            </div>
            
            <%= f.submit 'Next', class: 'btn', id: 'nextButton' %>
        <% end %>
    </div>
</body>
