<%= stylesheet_link_tag 'taxres', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/taxres', crossorigin: 'anonymous' %>

<body> 
    <div class="container">
        <progress id="file" value="58" max="100"> 32% </progress><br><br>
        <%= link_to t('buttons.back'), general_info_path, class: 'button', id: 'backButton' %><br>
        
        <%= form_with model: @user, url: update_db_path, method: :post, local: true do |f| %>
            <div class="content">
                <br><br>
                <h1><%= t('taxres.tax_resident_question') %></h1>
                <div class="options">
                    <label class="option">
                        <input type="radio" name="user[tax_resident]" value="yes" onchange="toggleTaxResidentFields()" > <%= t('taxres.yes') %>
                    </label>
                    <label class="option">
                        <input type="radio" name="user[tax_resident]" value="no" onchange="toggleTaxResidentFields()"> <%= t('taxres.no') %>
                    </label>
                </div>
                <div class="info-box">
                    <p><%= t('taxres.tax_resident_definition') %></p>
                    <ul>
                        <li><%= t('taxres.definition_183_days') %></li>
                        <li><%= t('taxres.definition_3_years') %></li>
                    </ul>
                    <a target="_blank" href="https://www.iras.gov.sg/taxes/individual-income-tax/basics-of-individual-income-tax/tax-residency-and-tax-rates/working-out-my-tax-residency"><%= t('taxres.find_out_more') %></a>
                </div>
                <div id="tax-resident-fields" class="tax-resident-fields" style="display: none;">

                    <%= f.hidden_field :id, value: session[:user_id] %>
                    <div class="input-group">
                        <label for="tax_residential_country">Tax Residential Country</label>   
                        <%= f.text_field :tax_resident_country, placeholder: t('taxres.tax_resident_country_placeholder'), required: true, value: @user.tax_resident_country %>
                    <div class="input-group">
                    </div>
                        <label for="tin">Tax Identification Number (TIN)</label>  
                        <%= f.text_field :tin, placeholder: t('taxres.tin_placeholder'), required: true, value: @user.tin %>
                    </div>
                </div>
            </div>
            <%= f.submit t('buttons.next'), class: 'btn', id: 'nextButton' %>
        <% end %>
    </div>
</body>
